name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  quality:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        run: uv python install

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
            bun-version: latest

      - name: Install dependencies
        run: |
            make install

      - name: Lint
        run: |
            make lint

      - name: Test
        run: |
            make test

  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    needs: quality
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: |
            make build
